<div class="row center-items">
    <form action="/deadlines" method="POST" class="search-box card">
        <div class="search-area">
            <div class="search-filter">
                <label class="search-title" for="name">NAME</label>
                <select name="name" class="college-name-select">
                </select>
            </div>
            <div class="search-filter-spacer"></div>
            <div class="search-filter">
                <label class="search-title" for="course">COURSE</label>
                <select name="course" value="{{query.course}}">
                    <option value="computer science">Computer Science</option>
                    <option value="information systems">Information Systems</option>
                    <option value="financial engineering">Financial Engineering</option>
                    <option value="business intelligent & analytics">Business intelligent & Analytics</option>
                    <option value="construction management">Construction Management</option>
                </select>
            </div>
            <div class="search-filter-spacer"></div>
            <div class="search-filter">
                <label class="search-title" for="intake">INTAKE</label>
                <select name="intake" value="{{query.course}}">
                    <option value="spring">Spring</option>
                    <option value="fall">Fall</option>
                </select>
            </div>

        </div>
        <button class="card-button"><a class="material-icon">search</a> search</button>
    </form>
</div>

<div class="deadline-list row">
    {{#if error}}
    <h1 class="search-not-found">{{error}}</h1>
    {{/if}}
    {{#each univList}}
    <button class="deadline-item card column">
        <div class="deadline-item-header">
            <p class="deadline-item-title">{{title}}</p>
        </div>
        <div class="row">
            <div class="deadline-item-detail column">
                <p class="material-align-center">
                    <a class="material-icon">access_time</a>
                    Deadline: {{deadline}}
                </p>
            </div>
        </div>
    </button>
    {{/each}}

</div>