
<div class="parallax parallax-home" id="reg-card">
  <div class="reg-card">
    <form method="POST" id="reg-form" class="column reg-form" action="/userprofile/edituserprofile/{{userProInfo.userid}}" >
            <div class="reg-logo">
                <a href="#">Edit your profile details </a>
            </div>
        <h2>Interested In</h2>
        <label for="masters_mba">Degree: </label>
        <select name="intMastersMba" id="degree">
                    <!--<option value="{{userProInfo.intMastersMba}}">{{userProInfo.intMastersMba}}</option>-->
                    <option value="Masters">Masters</option>
                    <option value="MBA">MBA</option>
                </select>
              <script>
            document.getElementById("degree").value = {{userProInfo.intMastersMba}};
             </script>  
           <!--    <input id="masters_mba" name='masters_mba' type="text" value="{{masters_mba}}" >--></br>
        <label for="program">Program: </label>
                 <input class="card-input" id="intProgram" name='intProgram' type="text" value="{{userProInfo.intProgram}}"><br/><br/>
      <label for="term">Term: </label>
        <select name="intTerm" id="intTerm">
                     <option value="{{userProInfo.intTerm}}">{{userProInfo.intTerm}}</option> 
                    <option value="Fall">Fall</option>
                    <option value="Spring">Spring</option>
                </select>
              <script>
            document.getElementById("intTerm").value = {{userProInfo.intTerm}};
             </script>  
         <label for="year">Year: </label>
        <select name="intYear" id="intYear">
                    <option value="{{userProInfo.intYear}}">{{userProInfo.intYear}}</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                </select>
              <script>
            document.getElementById("intYear").value = {{userProInfo.intYear}};
             </script> 
 

        <h2>Undergrad details </h2>  
         <label for="underGradCollege">Undergad University: </label>
                 <input class="card-input" id="underGradCollege" name='underGradCollege' type="text" value="{{userProInfo.underGradCollege}}"><br/><br/>
          <label for="undergradProgram">Undergrad Program: </label>
                 <input class="card-input" id="underGradProgram" name='underGradProgram' type="text" value="{{userProInfo.underGradProgram}}"><br/><br/>
                                                       
          <h2> Exams </h2> 
          <label for="greVerbal">GRE-Verbal: </label>
                 <input class="card-input" id="greVerbal" name='greVerbal' type="number" value="{{userProInfo.greVerbal}}"><br/><br/>
            <label for="greQuant">GRE -Quant: </label>
                 <input class="card-input" id="greQuant" name='greQuant' type="number" value="{{userProInfo.greQuant}}"><br/><br/> 
            <label for="greAwa">GRE-AWA: </label>
                 <input class="card-input" id="greAwa" name='greAwa' type="float" value="{{userProInfo.greAwa}}"><br/><br/>

             <label for="gmatScore">GMAT Score: </label>
                 <input class="card-input" id="gmatScore" name='gmatScore' type="number" value="{{userProInfo.gmatScore}}"><br/><br/>  
             
             <label for="toeflScore"> TOEFL Score: </label>
                 <input class="card-input" id="toeflScore" name='toeflScore' type="number" value="{{userProInfo.toeflScore}}"><br/><br/>    
         
          <div class="row align-right reg-btn-group">
                <button type="submit" value="Save"  class="card-btn card-button" >Save</button>
            </div>
    </form>
  </div>
    {{#if hasErrors}}
      <h3 class="search-not-found">{{errors}}</h3>
    {{/if}} 
</div>  