<div class="row center-items">
    <form action="/universities/search" method="POST" class="search-box card">
        <div class="search-area">
            <div class="search-filter">
                <label class="search-title" for="course">COURSE</label>
                <select name="course" value="{{query.course}}">
                    <option value="computer science">Computer Science</option>
                    <option value="information systems">Information Systems</option>
                    <option value="financial engineering">Financial Engineering</option>
                    <option value="business intelligent & analytics">Business intelligent & Analytics</option>
                    <option value="construction management">Construction Management</option>
                </select>
            </div>
            <div class="search-filter-spacer"></div>
            <div class="search-filter">
                <label class="search-title" for="score">GRE SCORE</label>
                <input type="number" name="score" size="24" maxlength="32" placeholder="4.0" min="280" max="340"
                    value="{{query.score}}" />
            </div>
            <div class="search-filter-spacer"></div>

            <div class="search-filter">
                <label class="search-title" for="gpa">GPA</label>
                <input type="number" name="gpa" size="24" maxlength="32" placeholder="4.0" step="0.1" min="0" max="4"
                    value="{{query.gpa}}" />
            </div>
            <div class="search-filter-spacer"></div>

            <div class="search-filter">
                <label class="search-title" for="exp">EXPENSE</label>
                <input type="number" name="exp" size="24" maxlength="32" placeholder="10,000" value="{{query.exp}}" />
            </div>
            <div class="search-filter-spacer"></div>
            <div class="search-filter">
                <label class="search-title" for="papers">PAPERS</label>
                <input type="number" name="papers" size="24" maxlength="32" placeholder="2" value="{{query.papers}}" />
            </div>

        </div>
        <button class="card-button"><a class="material-icon">search</a> search</button>
    </form>
</div>

<div id="college-list" class="college-list row">
    {{#if error}}
    <h1 class="search-not-found">{{error}}</h1>
    {{/if}}
    {{#each univList}}
    <button class="college-item card column">
        <div class="college-item-header">
            <h3 class="college-item-title">{{title}}</h3>
            <div class="college-item-rating material-align-center">
                <p class="college-item-score">{{rating}}</p>
                <a class="material-icon">star</a>
            </div>
        </div>
        <div class="row">
            <div class="college-item-detail column">
                <p class="material-align-center">
                    <a class="material-icon">assessment</a>
                    Ranking: {{rank}}
                </p>
                <p class="material-align-center">
                    <a class="material-icon">account_balance </a>
                    <a>Type: {{category}} University</a>
                </p>
                <p class="material-align-center">
                    <a class="material-icon">monetization_on</a>
                    Tuition: {{tuitionfees}}
                </p>

                <p class="material-align-center">
                    <a class="material-icon">location_on</a>
                    Location: {{location}}
                </p>
            </div>
            <div class="college-item-spacer"></div>
        </div>
    </button>
    {{/each}}

</div>